@model IEnumerable<ARTF2.Models.Permrect>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numofper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechaper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipoper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugaper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estaper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Munper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obrper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vigenper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Noautpro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Areares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Areapro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechaappro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proejeper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Natgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tergar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cauter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Replegal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instnot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obsper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RfmObservaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAsientoRect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroRectificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionRectificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfRectificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsideracionesRectificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroOficioRectificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOficioRectificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numofper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechaper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipoper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugaper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estaper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Munper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obrper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vigenper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noautpro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Areares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Areapro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechaappro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proejeper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Natgar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montgar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tergar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cauter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Replegal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instnot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obsper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RfmObservaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAsientoRect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroRectificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionRectificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdfRectificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsideracionesRectificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroOficioRectificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOficioRectificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idpermrect">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idpermrect">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idpermrect">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
