@model ARTF2.Models.Modrf

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Deseas eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAcuDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAcuDoc)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acumod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acumod)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechamod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechamod)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desmod)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsmod)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFichaTecDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFichaTecDoc)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fichatecmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fichatecmod)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clavemod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clavemod)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumacuofsolNavigatorNavigation.Numacuofsol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumacuofsolNavigatorNavigation.Numacuofsol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idmod" />
        <input type="submit" value="Eliminar" class="btn btn-primary" />
        <a asp-action="Index" asp-route-id="@Model.NumacuofsolNavigatorNavigation.Numacuofsol" class="btn btn-info">Volver a la lista</a>
    </form>
</div>
