@model IEnumerable<ARTF2.Models.Modrf>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registro Nuevo</a>
</p>
<div style="height: 500px; overflow-y: auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameAcuDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Acumod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fechamod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desmod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Obsmod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameFichaTecDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fichatecmod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clavemod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumacuofsolNavigatorNavigation.Numacuofsol)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameAcuDoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acumod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fechamod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desmod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Obsmod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameFichaTecDoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fichatecmod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clavemod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumacuofsolNavigatorNavigation.Numacuofsol)
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.Idmod">Editar</a>
                            <a asp-action="Details" class="btn btn-danger btn-sm" asp-route-id="@item.Idmod">Detalles</a>
                            <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.Idmod">Eliminar</a>
                        </div>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
