@model ARTF2.Models.Canrf

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Canrf</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaofcan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaofcan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Juscan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Juscan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obscan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obscan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFichaDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFichaDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fichacan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fichacan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Homoclavecan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Homoclavecan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechacan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechacan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumacuofsolNavigatorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumacuofsolNavigatorNavigation.Numacuofsol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idcan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
