@model ARTF2.Models.Permisoin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Permisoin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numofper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numofper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipoper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipoper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugaper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estaper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Munper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Munper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obrper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obrper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vigenper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vigenper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noautpro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noautpro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Areares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Areares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Areapro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Areapro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaappro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaappro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proejeper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proejeper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Natgar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Natgar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montgar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montgar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tergar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tergar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cauter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cauter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Replegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Replegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instnot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instnot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Homoins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Homoins)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idperins">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
