@model IEnumerable<ARTF2.Models.EmpreType>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<h1>Registro tipo de empresas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registro Nuevo</a>
</p>
<div style="height: 500px; overflow-y: auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.Id">Editar</a>
                            <a asp-action="Details" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Detalles</a>
                            <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Eliminar</a>
                        </div>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>