@model IEnumerable<ARTF2.Models.Insrf>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>Registro Inscripción</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registro Nuevo</a>
</p>
<div style="height: 500px; overflow-y: auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Obsins)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecapins)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Homoclaveins)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumacuofsolNavigatorNavigation.Numacuofsol)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Obsins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecapins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Homoclaveins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumacuofsolNavigatorNavigation.Numacuofsol)
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <a asp-action="GenerateConsistency" class="btn btn-success btn-sm" asp-route-id="@item.NumacuofsolNavigatorNavigation.Numacuofsol">Generar Constancia</a>
                            <!--<a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.Idins">Editar</a>-->
                            <a asp-action="Details" class="btn btn-danger btn-sm" asp-route-id="@item.Idins">Detalles</a>
                            <!--<a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.Idins">Eliminar</a>-->
                            <a asp-controller="Rectrfs" asp-action="Index" class="btn btn-default btn-sm" asp-route-id="@item.NumacuofsolNavigatorNavigation.Numacuofsol">Rectificación</a>
                            <a asp-controller="Modrfs" asp-action="Index" class="btn btn-danger btn-sm" asp-route-id="@item.NumacuofsolNavigatorNavigation.Numacuofsol">Modificación</a>
                            <a asp-controller="Canrfs" asp-action="Createview" class="btn btn-primary btn-sm">Cancelación</a>


                        </div>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
