@model IEnumerable<ARTF2.Models.Insrf>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Obsins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecapins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Homoclaveins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumacuofsolNavigatorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Obsins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecapins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homoclaveins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumacuofsolNavigatorNavigation.Numacuofsol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idins">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idins">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idins">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
